/*------------------------------------------------------------------
Common Stylesheet
-------------------------------------------------------------------*/

/* arsenal-regular - cyrillic_latin */
@font-face {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 400;
    src: local('Arsenal Regular'), local('Arsenal-Regular'),
    url('../fonts/Arsenal-Regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/Arsenal-Regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* arsenal-700 - cyrillic_latin */
@font-face {
    font-family: 'Arsenal';
    font-style: normal;
    font-weight: 700;
    src: local('Arsenal Bold'), local('Arsenal-Bold'),
    url('../fonts/Arsenal-Bold.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/Arsenal-Bold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* arsenal-italic - cyrillic_latin */
@font-face {
    font-family: 'Arsenal';
    font-style: italic;
    font-weight: 400;
    src: local('Arsenal Italic'), local('Arsenal-Italic'),
    url('../fonts/Arsenal-Italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/Arsenal-Italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* arsenal-700italic - cyrillic_latin */
@font-face {
    font-family: 'Arsenal';
    font-style: italic;
    font-weight: 700;
    src: local('Arsenal Bold Italic'), local('Arsenal-BoldItalic'),
    url('../fonts/Arsenal-BoldItalic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */ url('../fonts/Arsenal-BoldItalic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* =============================elements============================== */
:root {
    --link-color: #5f3f3f;
    --link-color-hover: #9f7676;
}
html, body {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    position: relative;
    font-family: 'Arsenal', sans-serif;
    background: #F4F4F4;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 70px 0;
}

a {
    color: var(--link-color);
}

a:hover {
    text-decoration: none;
    color: var(--link-color-hover);
}

h2 {
    font-size: 40px;
    font-weight: 400;
    font-family: 'Arsenal', sans-serif;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

h3 {
    font-size: 30px;
    font-weight: 400;
    font-family: 'Arsenal', sans-serif;
    text-transform: capitalize;
}

h4 {
    font-weight: 400;
    font-size: 26px;
    margin-bottom: 20px;
}

.capitalize {
    text-transform: capitalize;
}

.noscript-warning {
    color: rgb(216, 215, 213);
    background-color: #c02d2e;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5050;
    text-align: center;
    font-weight: bold;
    font-size: 120%;
    padding: 10px;
    filter: none;
}

.show {
    opacity: 1;
    z-index: 6000;
}
.hide {
    opacity: 0;
    transition: opacity 500ms;
    z-index: 0;
}
/* =============================.section-header============================== */

.main-header {
    background: #F1DED7;
    background-size: cover;
    height: 120px;
    position: relative;
}

.main-header.main-page {
    background: #e5e5e5 url(../images/intro-bg.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}

.main-header .nav.navbar-nav {
    width: 100%;
}

.main-header .navbar-brand,
.main-header ul li a {
    color: #5f3f3f;
    font-weight: 700;
    font-family: 'Arsenal', sans-serif;
}

.main-header .navbar-brand {
    font-size: 40px;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}

.main-header .top-menu {
    background: rgba(0, 0, 0, 0.25);
}

.main-header .overlay {
    padding-top: 300px;
    text-align: center;
}

.main-header .overlay h1 {
    display: inline-block;
    padding: 0 10px;
    font-size: 68px;
    font-weight: 700;
    background: -webkit-linear-gradient(left, rgba(225, 206, 199, 0.7) 0%, rgba(241, 222, 215, 0.7) 100%);
    line-height: 1.5em;
    color: #5f3f3f;
}

.main-header .overlay p {
    display: inline-block;
    padding: 0 10px;
    font-size: 24px;
    font-weight: 700;
    color: #5f3f3f;
    background: -webkit-linear-gradient(left, rgba(239, 212, 201, 0.7) 0%, rgba(235, 197, 178, 0.7) 100%);
    line-height: 2em;
}

.main-header .overlay span {
    color: #fff;
}

.btn-custom {
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0 0 3px #5f3f3f;
    background-color: #5f3f3f;
    border: 0;
    padding: 14px 20px;
    font-size: 17px;
    font-weight: 700;
    border-radius: 12px 0 12px 0;
    margin: 20px 0 0;
    transition: all 0.5s;
}

.btn-custom:hover,
.btn-custom:focus,
.btn-custom.focus,
.btn-custom:active,
.btn-custom.active {
    color: rgba(255, 255, 255, 0.8);
    background-color: #724F4F;
}

.section-title {
    margin-bottom: 70px;
}
/* =============================.menu-expand============================== */

.navbar-wrapper {
    width: 100%;
    height: 100px;
}

.menu__toggle {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 27px;
    height: 27px;
    cursor: pointer;
    z-index: 4;
}

.menu__toggle span,
.menu__toggle span::before,
.menu__toggle span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #5f3f3f;
    transition-duration: .3s;
    z-index: 3;
}

.menu__toggle span::before {
    content: '';
    top: -8px;
}

.menu__toggle span::after {
    content: '';
    top: 8px;
}

.menu__toggle.js-checked {
    transform: rotate(45deg);
}
.menu__toggle.js-checked span::before {
    top: 0;
    transform: rotate(0);
}
.menu__toggle.js-checked span::after {
    top: 0;
    transform: rotate(90deg);
}
.menu__toggle.js-checked ~ .menu__box {
    visibility: visible;
    left: 0;
}

.menu__box {
    height: 120px;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

.menu__box ul {
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}

.menu__list {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.menu__item {
    position: relative;
    display: block;
    padding: 12px 24px;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .3s;
    z-index: 2;
}

.menu__item:hover {
    text-decoration: none;
    transition-duration: .3s;
}

.menu__item:before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0;
    opacity: 0;
    background: #ffffff;
    transition-duration: .5s;
    z-index: -1;
}

.menu__item:hover:before {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    opacity: 1;
    height: 100%;
}
/* =============================./menu-expand============================== */

/* =============================.language============================== */
.header-topline {
    margin: 15px 0 0 0;
    text-align: center;
}

.language-item__current,
.language-item__noncurrent,
.header-topline .language-item__noncurrent a {
    font-size: 18px;
    font-weight: 700;
    font-family: 'Arsenal', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

.language-item__current {
    color: #a07373;
}

.language-item__noncurrent {
    color: #5f3f3f;
}

.language-item__current:hover,
.language-item__noncurrent:hover {
    background-color: #ffffff;
    border-radius: 8px;
    transform: scale(1.1);
    transition-duration: .6s;
}

.header-topline li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}
/* =============================./language============================== */

/* =============================.section-about============================== */

.section-about {
    background: #EFEFEF;
}

.section-about .row {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.section-about .row .col-xs-12,
.section-about .row .col-xs-12 {
    padding: 0;
}

.section-about .history-image {
    padding: 0;
    margin-left: 15px;
}

.section-about h2 {
    text-align: center;
}

hr {
    height: 4px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #5f3f3f;
    margin: 0 auto 20px;
    border: 0;
}

.section-about h3 {
    text-transform: uppercase;
}

.section-about .about-text {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
}

.section-about img {
    display: inline-block;
    border-radius: 100px 0 100px 0;
    box-shadow: -15px 0 #5f3f3f;
}
.hidden-links {
    display: none;
}
/* =============================.section-services============================== */

.section-services h2 {
    text-align: center;
}

.section-services .row {
    width: 100%;
    margin: 0;
}

.section-services .services {
    padding: 0;
    text-align: center;
}

.services-image {
    margin-right: 15px;
}

.services img {
    border-radius: 75px 0 75px 0;
    box-shadow: 15px 0 #5f3f3f;
}

.custom-furniture p {
    font-size: 20px;
}
/* =============================.section-portfolio============================== */

.section-portfolio {
    position: relative;
    background: #EFEFEF;
}

.section-portfolio .main-carousel {
    position: relative;
    height: 600px;
}

.section-portfolio h2, p {
    text-align: center;
}

.categories {
    padding-bottom: 40px;
    text-align: center;
}

.section-portfolio .cat {
    padding: 0;
}

ul.cat li {
    display: inline-block;
}

ol.type {
    padding: 0;
}

ol.type li {
    display: inline-block;
    margin-left: 20px;
}

ol.type li:first-child {
    margin-left: 0;
}

ol.type li a {
    color: #5f3f3f;
    font-weight: 700;
    font-size: 15px;
    padding: 10px 20px;
    border: 2px solid #5f3f3f;
    border-radius: 10px 0 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

ol.type li a.active {
    background: #5f3f3f;
    color: #fff;
}

ol.type li a:hover {
    background: #724F4F;
    text-decoration: none;
    color: #fff;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}

.portfolio-item {
    margin: 15px 0;
    height: 260px;
}

.hover-bg {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.hover-bg a {
    z-index: 1;
}

.hover-bg .hover-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333333;
    background: rgba(255, 255, 255, 0.75);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.5s;
    z-index: 2;
}

.hover-text h4 {
    text-transform: uppercase;
    opacity: 0;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition: all 0.3s;
}

.hover-bg:hover .hover-text > h4 {
    opacity: 1;
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.hover-bg:hover .hover-text {
    opacity: 1;
}

/* =============================.section-contacts============================== */

.section-contacts {
    background: #EFEFEF;
    padding: 0 10px 30px 10px;
}
.section-contacts .container {
    padding: 0 15px;
}
.section-contacts .col-md-4 {
    padding: 0;
}
.section-contacts h2, h4, p {
    text-align: center;
}

.section-contacts .about-img span {
    color: #5f3f3f;
    font-weight: 700;
    font-size: 26px;
    font-family: 'Arsenal', sans-serif;
}

.section-contacts .social-share ul {
    align-content: center;
    padding: 20px 0 0 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

.section-contacts .social-share ul li {
    list-style: none;
    padding-left: 25px;
}

.section-contacts .social-share ul li:first-child {
    padding-left: 0;
}

.section-contacts .social-share ul li a {
    font-size: 26px;
    color: #5f3f3f;
}
/* =============================/.section-contacts============================== */

/* =============================section-show-page============================== */
.section-show-page {
    margin-bottom: 30px;
}

.section-show-page .row {
    justify-content: center;
}

.section-show-page h2 {
    font-size: 26px;
    text-transform: uppercase;
}

.project-photo {
    margin-bottom: 20px;
}

.related-post-carousel {
    position: relative;
    width: 100%;
    height: 300px;
}

.decoration {
    text-align: center;
}

.decoration a:hover {
    color: var(--link-color-hover);
}
/* =============================/section-show-page============================== */

/* =============================.section-list-page============================== */
.section-list-page .row {
    display: flex;
    justify-content: center;
}

.section-list-page h1 {
    font-size: 22px;
}
/* =============================/section-list-page============================== */

/* =============================section-projects============================== */
    .section-projects .row {
        justify-content: center;
    }
/* =============================/section-projects============================== */

/* =============================.footer============================== */

.footer {
    background-color: #5f3f3f;
    padding: 50px 0 15px 0;
    font-size: 12px;
}

.footer .container div {
    color: #fff;
}

.footer .container div a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}
/* ============================= Scroll to top button ============================== */
.js-scroll-to-top {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 5px;
    margin: 5px;
    z-index: 2;
}

.js-scroll-to-top svg {
    width: 40px;
    height: 40px;
}

.js-scroll-to-top:hover {
    cursor: pointer;
}

.js-disable-scroll {
    overflow: hidden;
}

/* ============================= /Scroll to  top button ============================== */

/* ============================= ./Swiper-carousel ============================== */
.swiper-container,
.swiper-container__main,
.swiper-container__page-show {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide__main,
.swiper-slide__page-show {
    z-index: 0;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-next__main,
.swiper-button-prev__main,
.swiper-button-next__page-show,
.swiper-button-prev__page-show {
    color: rgba(230, 200, 180, 1);
}

.swiper-pagination-bullet {
    background: rgba(230, 200, 180, 1);
}
.swiper-pagination-bullet-active {
    background: #ffffff;
}

.swiper-pagination,
.swiper-pagination__main,
.swiper-pagination__page-show {
    text-align: center;
}

.swiper-scrollbar {
    display: none;
}
/* ============================= ./Swiper-carousel ============================== */

/* ============================= Large Devices, Wide Screens ============================== */
@media only screen and (max-width: 1200px) {

}

/* ============================= Medium Devices, Desktops ============================== */
@media only screen and (max-width: 992px) {
    .main-header-text {
        background-color: rgba(0, 0, 0, .3);
    }

    .main-header .overlay h1 {
        font-size: 48px;
    }
}

/* ============================= Small Devices, Tablets ============================== */
@media only screen and (min-width: 768px) {
    .section-about .history-image {
        margin-left: 0;
    }

    .section-about .about-text {
        margin-top: 0;
        padding-left: 10px;
    }
}
@media only screen and (min-width: 992px) {
    .menu__toggle {
        display: none;
    }
    .section-services .services {
        padding: 0 2%;
    }
}

@media only screen and (max-width: 992px) {
    .main-header {
        height: 67px;
    }

    .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        overflow: auto;
        top: 0;
        left: -100%;
        width: 320px;
        height: 100%;
        margin: 0;
        background-color: rgba(230, 200, 180, 0.9);
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        transition-duration: .6s;
    }

    .menu__list {
        display: block;
    }

    .menu__item:hover {
        background-color: #ffffff;
        padding-left: 30px;
    }

    .menu__item:before {
        display: none;
    }

    .main-header .navbar-brand {
        margin-top: 60px;
        margin-left: 20px;
        font-size: 30px;
    }
}
@media only screen and (max-width: 768px) {
    .main-header-text {
        left: 0;
        margin: 0 20px;
        max-width: 100%;
    }

    h3, h4 {
        font-size: 30px;
    }

    .main-header .navbar-brand img {
        width: 60px;
    }

    .main-header .overlay {
        padding-top: 240px;
    }

    section {
        padding: 15px 0;
    }

    .section-title {
        margin-bottom: 35px;
    }

    h2 {
        font-size: 27px;
        margin-bottom: 10px;
    }

    hr {
        margin: 0 auto 10px;
    }

    .section-portfolio ol.type li a {
        display: block;
    }

    .section-portfolio ol.type li {
        display: inline-block;
        width: 40%;
        padding: 0 0 25px;
        margin: auto;
    }

    .section-portfolio ol.type li:last-child {
        padding: 0;
    }

    .section-portfolio .categories {
        padding-bottom: 0;
    }

    .section-portfolio .main-carousel {
        height: 400px;
    }

    .footer {
        padding: 30px 0 15px 0;
    }
}

@media only screen and (max-width: 600px) {
    .main-header-text {
        top: 90px;
    }

    .main-header-buttons .btn {
        display: block;
        width: 100%;
        margin-bottom: 15px;
    }

    .main-header-buttons .btn:last-child {
        margin-top: 0;
    }

    .main-header .overlay {
        padding-top: 200px;
    }

    .main-header .overlay h1 {
        font-size: 40px;
    }

    .main-header .overlay p {
        font-size: 18px;
    }
}

/* ============================= Extra Small Devices, Phones ============================== */
@media screen and (max-width:1200px) and (orientation: landscape) {
    .main-header .overlay {
        padding-top: 0;
    }
}

@media only screen and (max-width: 480px) {
    .main-header .overlay h1 {
        font-size: 30px;
    }

    .main-header .navbar-brand img {
        width: 45px;
    }

    .section-portfolio ol.type li {
        width: 75%;
    }

    .section-portfolio .main-carousel {
        height: 300px;
    }
}

@media only screen and (max-width: 380px) {
    .main-header .overlay {
        padding-top: 180px;
    }

    .navbar {
        padding: 5%;
    }
    .main-header .navbar-brand {
        font-size: 30px;
    }
}