.img-preview > img {
    width: 200px;
    padding: 5px;
}

.js-cancel-button {
    position: absolute;
    color: #007bff;
    left: 15px;
    top: 15px;
}

.js-cancel-button:hover {
    color: #00b7ff;
    cursor: pointer;
}

.img-preview {
    position: relative;
}